{% extends "base.html" %}

{% block content %}
<div class="py-8">
  <h1 class="text-3xl font-bold mb-6 text-center">Artist Dashboard</h1>
  {% if artist_profile_count == 0 %}
    {% include "partials/artist/dashboard/no_artist_account.html" %}

  {% elif artist_profile_count == 1 %}
    {% include "components/artist_dashboard.html" with
    artist=artist
    follower_count=follower_count
    profile_views=profile_views
    recent_activities=recent_activities %}

  {% else %}
    <div class="card bg-base-100 shadow-xl mb-6">
      <div class="card-body">
        <h2 class="card-title">Your Artist Profiles</h2>
        <div class="divider"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {% for artist in artist_profiles %}
            <div class="card bg-base-200">
              <div class="card-body">
                <h3 class="card-title">{{ artist.name }}</h3>
                <p>{{ artist.main_genre|default:"No main genre" }}</p>
                <div class="card-actions justify-end mt-2">
                  <a href="#" class="btn btn-sm btn-primary">View Dashboard</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock content %}
