{% extends "base.html" %}

{% block title %}Home - Parted App{% endblock %}

{% block content %}
  <div class="space-y-8">
    <!-- Latest Artists Section -->
    {% include "components/artist_section.html" with
    artists=latest_artists
    section_title="Latest Artists"
    view_more_link="#" %}

    <!-- Favorite Artists Section -->
    {% include "components/artist_section.html" with
    artists=favorite_artists
    section_title="Favorite Artists"
    view_more_link="#" %}
  </div>
{% endblock content %}
