<li><a {% if btn_class %}class="{{ btn_class }}"{% endif %} href="{% url 'index' %}">Home</a></li>
<li><a {% if btn_class %}class="{{ btn_class }}"{% endif %} href="{% url 'about' %}">About</a></li>
{% if user.is_authenticated %}
  <li>
    <form id="logout-form" action="{% url 'account_logout' %}" method="POST" {% if btn_class %}class="{{ btn_class }}"{% endif %}>
        {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  </li>
{% else %}
  <li><a {% if btn_class %}class="{{ btn_class }}"{% endif %} href="{% url 'account_login' %}">Login</a></li>
{% endif %}
